<nav class="navbar">
  <div class="navbar-content">
    <a class="navbar-brand" href="/">ET - Expense Tracker</a>
    <ul class="navbar-nav">
      @if (session$ | async; as session) {
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            (click)="logout()"
            >Logout</a
          >
        </li>
        @for (link of loggedInLinks; track link) {
          <li class="nav-item">
            <a
              [title]="link.label"
              routerLink="{{ link.path }}"
              routerLinkActive="active"
              class="nav-link"
              ariaCurrentWhenActive="page"
            >
              {{ link.label }}
            </a>
          </li>
        }
      } @else {
        @for (link of loggedOutLinks; track link) {
          <li class="nav-item">
            <a
              [title]="link.label"
              routerLink="{{ link.path }}"
              routerLinkActive="active"
              class="nav-link"
              ariaCurrentWhenActive="page"
            >
              {{ link.label }}
            </a>
          </li>
        }
      }
    </ul>
  </div>
</nav>
